.hljs {
    background: #212529 !important;
}

p>code,
li>code,
dd>code,
td>code {
    background: #212529;
    color: #72e0d1;
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .05rem .3rem .2rem;
    border-radius: .4rem;
}

.top-25 {
    top: 25%!important;
}

.spoiler-text {
    background: #212529;
    color: #DDD;
    box-decoration-break: clone;
    padding: .1rem .6rem .4rem;
    border-radius: .4rem;
}

.blured {
    filter: blur(0.5rem);
    transform: scale(0.99);
}

.hidden {
    display: none;
}

body {
    background: black!important;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    border-bottom: 1px solid #e5e5e5;
}

footer {
    line-height: 60px;
    border-top: 1px solid #e5e5e5;
}
